<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>问题发布-案例</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/myWebProject.css">
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
    <!-- 导航栏，采用 https://v3.bootcss.com/getting-started/#download 中组件选项中的：导航条->默认导航条中的代码 -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- ？？？ -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Spring boot 实例</span>
                </button>
                <a class="navbar-brand" href="/">Spring boot 实例</a>
            </div>

            <!-- ？？？ -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索话题功能">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <!-- 显示已登录状态 -->
                    <li class="dropdown" th:if="${session.user != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">消息中心</a></li>
                            <li><a href="#">个人信息</a></li>
                            <li><a href="#">退出登录</a></li>
                        </ul>
                    </li>
                    <!-- 显示未登录状态 -->
                    <li th:if="${session.user == null}"><a href="https://github.com/login/oauth/authorize?client_id=Iv1.19f0a347d21dec78&redirect_uri=http://127.0.0.1:8080/callback&scope=user&state=1">登录</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- 以上为导航栏 -->
    <!-- 一下为问题发布详细页面 -->
    <div class="container-fluid main">
        <div class="row">
            <!-- class 中的参数应该与响应式布局有关，需要再继续在 bootstrap官网->全局Css样式->栅格系统 中学习 -->
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="">
                <h2 class="picture"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
                <hr>
                <!-- 请求被拦截到PublishController中处理 -->
                <form action="/publish" method="post">
                    <div class="form-group">
                        <label for="title">问题标题（简单扼要）：</label>
                        <input type="text" class="form-control" th:value="${title}" id="title" name="title" placeholder="输入点什么吧...">
                    </div>
                    <!--  -->
                    <div class="form-group">
                        <label for="title">问题补充（请按照提示填写）：</label>
                        <textarea class="form-control" th:text="${description}" name="description" id="description" cols="30" rows="10"></textarea>
                    </div>
                    <!--  -->
                    <div class="form-group">
                        <label for="title">问题标题（简单扼要）：</label>
                        <input type="text" class="form-control" id="tag" name="tag" th:value="${tag}" placeholder="输入标签，以逗号隔开">
                    </div>
                    <!-- 错误信息显示 -->
                    <div class="alert alert-danger" role="alert" th:if="${error!=null}" th:text="${error}"></div>
                    <button type="submit" class="btn btn-success btn-publish">发布</button>

                </form>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h3>临江仙-杨慎（明）</h3>
                <p> 滚滚长江东逝水，浪花淘尽英雄。</p>
                <p>是非成败转头空。</p>
                <p>青山依旧在，几度夕阳红。</p>
                <p>白发渔樵江渚上，惯看秋月春风。</p>
                <p>一壶浊酒喜相逢。</p>
                <p>古今多少事，都付笑谈中。</p>
            </div>
        </div>
    </div>
    <!---->

    <!--  -->
</body>
</html>